@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Roboto&display=swap');

div{
    margin-top: 8px;
}

label{
    font-family: 'Asap', sans-serif;
    font-weight: 600;
}

.required::after{
    content: '*';
    color: red;
}

.Name input{
    width:300px;
    height:30px;
    text-align: left;
    padding:5px;
}

.Email input{
    width:618px;
    height:30px;
    text-align: left;
    padding:5px;
}

.CompanyName input{
    width:618px;
    height:30px;
    text-align: left;
    padding:5px;
    margin-top:5px;
}

.CompanyWebsite input{
    width:618px;
    height:30px;
    text-align: left;
    padding:5px;
    margin-top:5px;
}
.first{
    width:618px;
    height:30px;
    text-align: left;
    padding:5px;
    margin-top:7px;
}
.second{
    width:300px;
    height:30px;
    text-align: left;
    padding:5px;
    margin-top:5px;
}

.third{
    width:300px;
    height:30px;
    text-align: left;
    padding:5px;
    margin-top:5px;
}

select{
    width:315px;
    height:45px;
    text-align: left;
    padding:5px;
    margin-top:5px;
}

#myButton{
    width:635px;
    height:40px;
    background-color:rgb(62, 15, 107);
    border:1px solid blueviolet;
    border-radius:1px;
    color:white;
    font-weight:10px;
    cursor:pointer;
    font-family: 'Asap', sans-serif;   
}

#myButton:hover{
    background-color: rgb(95, 73, 116);
}

#sA{
    width:180px;
}

.webReg{
    font-family: 'Roboto', sans-serif;
}